body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  background-color: gainsboro;
}

h1 {
  font-weight: 700;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* ==============Every card design===================== */
.single-product {
  padding: 10px;
  transition: 0.6s;
  border: 2px solid gray;
  height: 660px;
}
.single-product:hover {
  box-shadow: 10px 10px 10px rgb(98, 97, 97);
}
/* ========================================================== */

/* =================== Card buttons ========================== */
.btn-addtocart {
  background-color: coral;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
}

.btn-details {
  background-color: rgb(190, 190, 49);
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
}

/* =================Cart Design ==================== */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
