body {
  overflow-x: hidden;
  font-family: "Montserrat", sans-serif;
  /* background-color: gainsboro; */
  /* background-image: url(../bg-light-img.jpg);
  background-repeat: no-repeat;
  background-size: cover; */
  /* background-color: rgb(2, 2, 58); */
  background-color: rgb(51, 57, 90);
}

.title-text {
  color: white;
}

h1 {
  font-weight: 700;
}

.star-gold {
  color: gold;
}

#all-products {
  display: grid;
  grid-template-columns: repeat(3, 1fr);

  /* border: 1px solid black; */
  text-align: center;
  width: 100%;
  margin: auto;
  align-items: center;
  justify-content: center;
}

/* ==============Every card design===================== */
.single-product {
  padding: 10px;
  transition: 0.4s;
  border: 2px solid gray;
  height: 680px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 10px;
  /* backdrop-filter: blur(5px); */
  background-color: rgba(255, 255, 255, 1);
  /* box-shadow: rgba(0, 0, 0, 0.3) 2px 8px 8px; */
  border: 2px rgba(255, 255, 255, 0.4) solid;
  border-bottom: 4px solid rgba(40, 40, 40, 0.35);
  border-right: 4px solid rgba(40, 40, 40, 0.35);
}

.single-product:hover {
  /* box-shadow: 15px 15px 15px rgb(119, 118, 118); */
  /* box-shadow: 10px 10px 10px rgb(121, 119, 119); */
  transform: scale(1.03);
  overflow: hidden;
}
/* ========================================================== */

/* =================== Card buttons ========================== */
.btn-addtocart {
  background-color: coral;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
}

.btn-details {
  /* background-color: rgb(190, 190, 49); */
  background-color: limegreen;
  color: white;
  font-weight: bold;
  box-shadow: 4px 4px rgba(0, 0, 0, 0.267);
}

/* =================Cart Design ==================== */
.cart {
  width: 350px;
  /* border: 1px solid green; */
  padding: 10px;
  box-shadow: 10px 10px 20px gray;
  border-radius: 5px;
  margin-right: 30px;
  position: fixed;
}
.cart-main {
  padding-right: 30px;
}

li {
  list-style: none;
}

/* hr {
  margin: 10px 1.5px 2px 1.5px;
} */

@media only screen and (max-width: 768px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .cart {
    width: 300px;
    /* border: 1px solid green; */
    padding: 10px;
    box-shadow: 10px 10px 20px gray;
    border-radius: 5px;
    margin-right: 30px;
    position: fixed;
  }
  .cart-main {
    padding-right: 10px;
  }
}
@media only screen and (max-width: 468px) {
  #all-products {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
